@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches&display=swap');

:root {
    --font-header: 'Staatliches', cursive;
    --font-paragraph: 'Raleway', sans-serif;
    --background-nav: rgba(57, 61, 63, 0.43);
    --background-title: rgba(255, 255, 255, 0.41);
    --background-header: rgba(255, 119, 119, 0.46);
    --background-contact: #37505C;
    --color-nav: #DEE5E5;
    --color-title: rgba(0, 0, 0, 0.5);
    --color-header: rgba(0, 0, 0, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: var(--font-paragraph);
}

.header--lvl1 {
    font-size: 64px;
    margin-top: 10px;
    margin-left: 25px;
}

.header--lvl2 {
    font-size: 54px;
    margin-top: 70px;
    margin-left: 80px;
}

.header--lvl3 {
    
    color: var(--color-header);
    font-size: 64px;
    position: relative;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.header--lvl3::before {
    content: '';
    height: 65px;
    width: 210px;
    background-color: var(--background-header);
    position: absolute;
    top: 35px;
    left: 50%; 
}

[class*='header--'] {
    font-family: var(--font-header);
}
.p-header {
    position: relative;
    font-family: var(--font-header);
    background-image: url('../assets/images/bg-xlarge.jpg');
    background-size: cover;
    background-position-y: 20%;
    background-attachment: fixed;
    height: 100vh;
    
}

.p-header__nav {
    position: relative;
    height: 100px;
    background-color: var(--background-nav);
    color: var(--color-nav);
    font-size: 48px;
    line-height: 60px;
    padding-top: 1px;
    margin-top: -1px;
}

.p-header__menu {
    list-style-type: none;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    
}

.p-header__item {
    display: inline-block;
    margin-left: 20px;
    font-family: var(--font-header);
}

.p-header__title {
    width: 720px;
    height: 250px;
    position: absolute;
    top: 60%;
    left: 15%;
    background-color: var(--background-title);
    color: var(--color-title);
    padding: 20px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    padding: 100px;

}

.about__about-me {
    grid-column-start: 1;
    grid-column-end: 2; 
}

.about__skills {
    grid-column-start: 2;
    grid-column-end: end;
}

.about__paragraph {
    margin-top: 70px;
    font-family: var(--font-paragraph);
    font-size: 16px;
    text-align: justify;
}

.about__icons {
    display: flex;
    justify-content: space-between;
}
.about__icons svg {
    width: 100px;
    height: auto;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    padding: 100px;
}


.projects__item {
    background: #FFFDFD;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;
    padding: 40px;
    width: 75%;
    min-height: 200px;
    justify-self: end;
}

.projects__item:nth-child(even) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.projects__item:nth-child(odd) {
    grid-column-start: 3;
    grid-column-end: end;
}

.projects__img {
    height: 150px;
    width: auto;
    float: left;
    margin-left: -30%;
}

.projects__desc {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30%;
    text-align: justify;
}

.projects__links {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
}
.projects__git-link {
    background: url('../assets/icons-exp/github-logo.svg');
}

.projects__live-link {
    background: url('../assets/icons-exp/earth-grid-symbol.svg');
}

.projects__git-link,
.projects__live-link {
    display: inline-block;
    text-indent: -99999px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    background-color: var(--background-contact);
    padding: 50px;
}

.projects .header--lvl3,
.contact .header--lvl3 {
    grid-column-start: 1;
    grid-column-end: end;
}

.contact .header--lvl3 {
    color: var(--color-nav);
}
.contact__social {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
}

.contact__contact-form {
    grid-column-start: 2;
    grid-column-end: end;
}


.contact__input,
.contact__textarea {
    box-sizing: border-box;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: var(--color-nav);
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.contact__textarea {
    resize: none;
    height: 300px;
    overflow-y: auto;
}

.contact__button {
    box-sizing: border-box;
    font-size: 22px;
    padding: 15px;
    width: 70%;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background-color: var(--background-header);
    margin-left: 15%;
}

.contact__button:disabled {
    background-color: var(--background-title);
}

.contact__button:hover {
    box-shadow: inset 0px 0px 51px -15px var(--color-title);
}
.honeypot-field {
    display: none;
}